* {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(87, 0, 87);
}

p {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(87, 0, 87);
  text-align: center;
}

footer {
  color: rgb(255, 255, 255);
  width: fit-content;
  border: 0;
  padding: 10px;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app {
  background: #ffffff;
  width: 50%;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showQuiz {
  background: rgb(87, 0, 87);
  color: rgb(255, 255, 255);
  font-weight: 500px;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
}

.app img {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.app h1 {
  font-size: 25px;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.btn {
  background: white;
  color: black;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: rgb(87, 0, 87);
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}

#next-btn,
#nextLink {
  background: rgb(87, 0, 87);
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  text-decoration: none;
}

#next-btn:hover,
#nextLink:hover {
  background: rgb(87, 0, 87);
}

#next-btn:disabled {
  cursor: no-drop;
}

#next-btn,
#nextLink {
  text-align: center;
}

#nextLink {
  display: block;
}

.correct {
  background: green;
}
.incorrect {
  background: palevioletred;
}

/*Mobile Devices */
@media only screen and (max-width: 600px) {
  .app {
    height: 90%; /* Set height to 100% of viewport height */
  }

  .app h1 {
    font-size: 20px;
    text-align: center; /* Center the heading text */
  }

  .quiz {
    width: 100%; /* Stretch the quiz to fit the screen */
    height: 130%; /* Set height to 100% of viewport height */
    padding: 15px; /* Add padding for better readability on small screens */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }

  .quiz h2 {
    font-size: 16px;
    text-align: center; /* Center the quiz heading text */
  }

  .btn {
    font-size: 14px;
  }

  #next-btn {
    width: 100%;
    margin: 20px 0 0;
  }
}
